div{
    display: flex;
    flex-direction: row; /* row | row-reverse | column | column-reverse */
    flex-wrap: wrap; /* nowrap | wrap | wrap-reverse */
    justify-content: flex-start ; /* flex-start | flex-end | center | space-between | space-around | space-evenly */
    /*align-items: center;  stretch | flex-start | flex-end | center | baseline */
}

.flex-item{
    flex: none;
    align-self: auto;
}

aside{    
    padding: 2%;
    margin: 5%;
}
aside .nav{
    width: auto;
}
aside .menu{
    position: sticky;
    top: 10px;
}

aside section nav ul li{
    list-style: none;
    padding: 5px;
    font-size: 20pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

aside section nav ul li a{
    color: #0d1b2a;
    transition: all ease-out 0.5s;
}
aside section nav ul li a:hover{
    color: #e0e1dd;
}


main{
    margin: 5%;
    align-self: auto;
    width: 50%;
}
main article{
    background-color: #e0e1dd;
    padding: 10%;
    border-radius: 2px;
    box-shadow: 5px 5px 15px #0d1b2a83;
}

main article h2{
    text-align: center;
    text-shadow: 1px 1px 2px #0d1b2a7e;
}

mark{
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: seagreen;
    font-size: 14pt;
    margin: 5px;
}