footer{
    background-color: #e0e1dd;   
    margin-bottom: -20px;

}
footer header{
    background-color: transparent;
    height: auto;
}
footer header p{
    text-align: center;
    padding: 5px;
    color: #0d1b2a;
    font-weight: bold;
}

footer section ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
footer section ul li{
    padding: 20px;
    margin: auto;
}

footer section ul li a{
    color: #0d1b2a;
    transition: all ease-out 0.5s;
}
footer section ul li a:hover{
    color: #415a77;
    font-weight: bold;
}