*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
}
body{
    margin: 0;
    width: 100%;
    background-image: linear-gradient(165deg, #778da9, #415a77);
}

section header{
    background-color: transparent;
}
section header h1{
    font-size: 22pt;
    text-align: center;
    color: #0d1b2a;
    text-shadow: 1px 1px 5px #415a77;
}

.exemplo{
    margin-bottom: 0;
    background-color: #778da94b;
    padding: 10px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
pre{
    margin-top: 0;
    padding: 10px;
    background-color: #778da94b;
}
pre code{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
}
.tag{
    color: darkred;
    margin: 20px;
}
.separacao{
    width: auto;
    padding: 5px;
    background-color: white;
    margin-top: 30%;
    margin-bottom: 30%;
}
