@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;500;700&display=swap%27');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif
}

:root {
    /* Dark */
    --main-color: #0B2F4F;
    --main-nav-color: #ffffff;
    --main-background-color: #124972;
    --punctuation-color: #1C77AF;
    --tag-color: #833B75;
    --comment-color: #B232A0;
    --attribute-color: #F779EB;
    --value-color: #0B2F4F;
    --text-color: #124972;
    --code-color: #F46060;
    --code-inline-background-color: #F46060;
    --code-inline-color: #ffffff;
    --title-color: #222222;
    --link-color: #33383E;
    --pre-background-color: #4D6377;
    --active-color: #FFFFFF;
    --active-text-color: #000000;
    --code-font: 'monospace';
    --font-size: 14px;
}

/* MENU */

.offcanvas-header{
    background-color: var(--main-color);
}

.offcanvas-body{
    background-color: var(--main-background-color);
}

.menuMaterias {
    display: flex;
    max-width: 100%;
    height: auto;
    overflow-x: auto;
    background-color: var(--main-background-color);
    border-bottom: 2px solid var(--main-color);
    
}

.menuMaterias a {
    padding: 8px 8px;
    text-align: center;
    color: var(--text-color);
}

main {
    width: 95vw;
    margin: auto;
    margin-top: 52px;
    color: var(--text-color);
}

pre {
    background-color: var(--pre-background-color);
    color: var(--text-color);
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: auto;
    padding: 0px 8px;
    font-size: 1em;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    max-height: 500px;
}

aside{
    display: none;
}

img{
    width: 500px;
    height: 500px;
}

/* PADRÕES */

.spacing-y {
    margin: 8px 0px;
}

.spacing-left {
    margin-left: 8px;
}

.background {
    background-color: var(--main-background-color);
}

.theme {
    margin-top: 0px;
}

.btn-theme{
    color: var(--text-color);
}

.btn-theme-mobile{
    color: var(--text-color);
}

.list-group-item{
    background-color: var(--main-background-color);
    color: var(--text-color);
}
.list-group-item.active{
    color: var(--text-color) !important;
}

.list-group a {
    border: none;
}

.menuMaterias a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color) !important;
}

.btn-pag {
    margin: 24px auto;
}

.img-logo {
    width: 100px;
    height: auto;
}

.nav-matter {
    display: none;
    width: 100%;
    margin-top: 52px;
    background-color: var(--main-nav-color)!important;
}

.bg-opacity-50 {
    background-color: var(--main-color);
}

.margin-toast-top {
    margin-top: 24px;
}

.active{
    background-color: var(--active-color)!important;
    color: var(--main-background-color)!important;
}

.stand-out-word{
    font-weight: bolder;
    text-decoration: underline;
}

/* CODE */
.example-code {
    background: var(--pre-background-color);
}

code {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}

.code-inline {
    font-size: 12px;
    padding: 2px;
    background-color: var(--pre-background-color);
    color: var(--code-inline-color);
}

.code-title {
    background-color: var(--pre-background-color);
    padding: 4px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: var(--title-color);
}

.code-line {
    margin: 0px auto;
    line-height: 0vmin;
    text-align: left;
}

.code-punctuation {
    color: var(--punctuation-color);
}

.code-tag {
    color: var(--tag-color);
}

.code-attribute {
    color: var(--attribute-color);
}

.code-value {
    color: var(--value-color);
}

.code-text {
    color: var(--code-color);
}

.code-comment {
    color: var(--comment-color);
    font-style: italic;
    font-weight: 200;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content-search-mobile{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: auto;
    min-width: 170px;
    max-width: 250px;
    position: absolute;
    z-index: 1080;
    background-color: var(--main-background-color);
}

.example-text-color-1{
    color: red!important
}
.example-text-color-2{
    color: yellow!important;
}
.example-text-color-3{
    color: tomato!important;
}
.example-text-color-4{
    color: dodgerblue!important;
}
.example-text-color-5{
    color: mediumseagreen!important;
}

.example-background-color-1{
    background-color: powderblue!important;
}
.example-background-color-2{
    background-color: tomato!important;
}
.example-background-color-3{
    background-color: orange!important;
}
.example-background-color-4{
    background-color: dodgerblue!important;
}
.example-background-color-5{
    background-color: mediumseagreen!important;
}
.example-background-color-6{
    background-color: gray!important;
}
.example-background-color-7{
    background-color: slateblue!important;
}
.example-background-color-8{
    background-color: violet!important;
}
.example-background-color-9{
    background-color: lightgray!important;
}

.example-border-color-1{
    border: 2px solid tomato!important;
}
.example-border-color-2{
    border: 2px solid dodgerblue!important;
}
.example-border-color-3{
    border: 2px solid violet!important;
}


.example-font-family-1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.example-font-family-2{
    font-family: 'Courier New', Courier, monospace
}

.example-font-size-1{
    font-size: 300%!important;
}

.example-font-size-2{
    font-size: 100%!important;
}

.example-text-align-1{
    text-align: center;
}


/* DESKTOP */
@media all and (min-width: 768px) {
    main{
        color: var(--text-color);
    }

    .nav-link{
        color: var(--text-color);
        font-size: 0.8em;
        font-weight: bold;
    }
    .active .nav-link{
        color: var(--link-color);
    }

    .menuLateral {
        max-height: 35px;
    }

    .menuMaterias {
        padding: 10px;
        color: var(--text-color) !important;
    }

    ::-webkit-scrollbar {
        width: 4px;
    }

    pre::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px;
    }


    ::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }

    main {
        margin-top: 108px;
    }

    .no-padding {
        padding: 0px;
    }

    .nav-matter {
        display: block;
        z-index: 10 !important;
    }

    .nav-matter .nav-link{
        color: var(--link-color);
    }

    .margin-toast-top {
        margin-top: 112px;
    }

    .content-search{
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: auto;
        min-width: 170px;
        max-width: 250px;
        position: absolute;
        top: 60px;
        right: 20px;
        z-index: 10;
        background-color: var(--main-background-color);
    }

}

/* DESKTOP */
@media all and (min-width: 992px) {
    aside{
        display: block;
        position: sticky;
        top: 108px;
        max-height: calc(100vh - 100px);
        width: 15%;
        overflow-y: scroll;
        border-right: 2px solid var(--main-color);
    }
}