@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;500;700&display=swap%27');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --main-color: #25489380;
    --main-background-color: #c9c8c8;
    --punctuation-color: #fff;
    --tag-color: rgb(74, 142, 206);
    --comment-color: rgb(20, 96, 27);
    --attribute-color: #9ead16;
    --value-color: #ad1616;
    --text-color: #fff;
    --title-color: #dedede;
    --pre-background-color: #222;
    --code-font: 'monospace';
    --font-size: 14px
}

/* MENU */

.menuMaterias {
    display: flex;
    max-width: 100%;
    height: auto;
    overflow-x: auto;
}

.menuMaterias a {
    padding: 8px 8px;
    text-align: center;
}

main {
    width: 95vw;
    margin: auto;
    margin-top: 52px;
}

pre {
    background-color: var(--pre-background-color);
    color: #fff;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: auto;
    white-space: pre-wrap;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}

aside{
    display: none;
}

/* PADRÕES */

.spacing-y {
    margin: 8px 0px;
}

.spacing-left {
    margin-left: 8px;
}

.background {
    background-color: var(--main-background-color);
}

.theme {
    margin-top: 0px;
}

.list-group a {
    border: none;
}

.menuMaterias a {
    text-decoration: none;
    text-transform: uppercase;
}

.btn-pag {
    margin: 24px auto;
}

.img-logo {
    width: 100px;
    height: auto;
}

.nav-matter {
    display: none;
    width: 100%;
    margin-top: 52px;
}

.bg-opacity-50 {
    background-color: var(--main-color);
}

.margin-toast-top {
    margin-top: 24px;
}

/* CODE */
.example-code {
    background: var(--pre-background-color);
}

code {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}

.code-inline {
    font-size: 12px;
    padding: 2px;
    background-color: var(--pre-background-color);
}

.code-title {
    background-color: var(--pre-background-color);
    padding: 4px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: var(--title-color);
}

.code-line {
    margin: 0px auto;
    line-height: 0vmin;
    text-align: left;
}

.code-punctuation {
    color: var(--punctuation-color);
}

.code-tag {
    color: var(--tag-color);
}

.code-attribute {
    color: var(--attribute-color);
}

.code-value {
    color: var(--value-color);
}

.code-text {
    color: var(--text-color);
}

.code-comment {
    color: var(--comment-color);
    font-style: italic;
    font-weight: 200;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* DESKTOP */
@media all and (min-width: 768px) {
    .menuLateral {
        max-height: 35px;
    }

    .menuMaterias {
        padding: 10px;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }


    ::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px;
    }


    ::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }

    main {

        margin-top: 108px;
    }

    aside{
        display: block;
    }

    .no-padding {
        padding: 0px;
    }

    .nav-matter {
        display: block;
    }


    .margin-toast-top {
        margin-top: 112px;
    }

}