@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;500;700&display=swap%27');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
    --main-color: #254893;
    --punctuation-color: #fff;
    --tag-color: #0ff;
    --attribute-color: #9ead16;
    --value-color: #ad1616;
    --text-color: #000;
    --code-font: 'monospace';
    --font-size: 14px
}

.menuLateral{
    max-height: 35px;
}
.menuMaterias{
    padding: 10px;
}
.spacing-y{
    margin: 8px 0px;
}
.background{
    background-color: var(--main-color);
}

code{
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}
.code-line{
    margin: 0px auto;
}
.code-punctuation{
    color: var(--punctuation-color);
}
.code-tag{
    color: var(--tag-color);
}
.code-attribute{
    color: var(--attribute-color);
}
.code-value{
    color: var(--value-color);
}
.code-text{
    color: var(--text-color);
}
/*mobile phone*/
@media all and (max-width: 768px) {
 
    .menuMaterias{
        background-color: yellowgreen;
        display: flex;
        max-width: 100%;
        height: 40px;
        overflow-x: auto;
        
    }
    .menuMaterias a {
        padding-right: 10px;
        text-align: center;
        
    }
}